/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #111;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  border-bottom: 1px solid #eee;
}

.header h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  font-size: 14px;
  color: #666;
}

nav a:hover {
  color: #000;
}

/* BUTTONS */
.outline-btn {
  border: 2px solid #D96A1A;
  padding: 10px 20px;
  background: transparent;
  color: #D96A1A;
  cursor: pointer;
}

.outline-btn:hover {
  background: #D96A1A;
  color: white;
}

.main-btn {
  margin-top: 25px;
  padding: 14px 25px;
  background: #D96A1A;
  color: white;
  border: none;
  cursor: pointer;
}

.main-btn:hover {
  background: #f07a2a;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 80px 60px;
  align-items: center;
}

/* TEXT */
.hero-text h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  line-height: 1.1;
}

.hero-text span {
  color: #D96A1A;
}

.hero-text p {
  margin-top: 20px;
  color: #555;
  max-width: 400px;
  line-height: 1.6;
}

/* IMAGE */
.hero-image img {
  width: 100%;
  border-radius: 10px;
}

/* MOBILE */
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text h2 {
    font-size: 45px;
  }
}
